h1 {
    display: none;
}

h2{
    text-transform: uppercase;
    text-align: center;
    color: #00235B;
    font-weight: 800;
    line-height: 0.0625;
    letter-spacing: -0.5px;
    font-size: 1.3rem;
    margin-top: 34px;
    margin-bottom: 22px;
}

ol#pokedex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
    justify-content: center;
}

li div {
    background-color: #ffcb03;
    padding: 20px 15px 14px;
    border-radius: 13px;
    width: 156px;
    display: flex;
    flex-direction: column;
    border: 20px solid #326bb2;
    box-shadow: 0px 0px 17px 2px #aaaaaa;
    filter: grayscale(1);
}

li div:hover {
    transform: translateY(-20px);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    filter: none;
}

div img {
    border: 2px solid #606060;
    background: url(../img/fondo-pokemones.png);
    background-position-x: 656.3px;
    background-size: 400px;
}

p{
    font-weight: 500;
    color: #606060;
}

p.tipo {
    margin-bottom: 7px;
}

p.id {
    margin-top: -2.5px;
}