.buscador {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 53px;
}

input[type="search"] {
    padding: 6px;
    border-radius: 7px;
}


input[type="submit"] {
    padding: 5px 12px;
    border: 3px solid #3069b2;
    border-radius: 5px;
    /* background-color: #ffcb03; */
    font-weight: 500;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #ffcb03;
}